In [203]:
import pandas as pd

In [206]:
df_tourism = pd.read_csv(r"C:\Users\sarah\OneDrive\Documentos\GitHub\final project\tourism_dataset.csv")

In [208]:
df_tourism

,Location,Country,Category,Visitors,Rating,Revenue,Accommodation_Available
0,kuBZRkVsAR,India,Nature,948853,1.32,84388.38,Yes
1,aHKUXhjzTo,USA,Historical,813627,2.01,802625.60,No
2,dlrdYtJFTA,Brazil,Nature,508673,1.42,338777.11,Yes
3,DxmlzdGkHK,Brazil,Historical,623329,1.09,295183.60,Yes
4,WJCCQlepnz,France,Cultural,124867,1.43,547893.24,No
...,...,...,...,...,...,...,...
5984,xAzwnVKAqz,USA,Urban,828137,1.97,132848.78,No
5985,IfKotyaJFC,France,Nature,276317,3.53,325183.96,Yes
5986,bPyubCWGgA,Egypt,Beach,809198,3.37,927336.50,No
5987,kkWIucpBnu,Egypt,Cultural,808303,2.52,115791.43,Yes
5988,gHXUrdticm,France,Cultural,40939,4.65,957026.85,Yes

In [210]:
df_tourism.columns

Index(['Location', 'Country', 'Category', 'Visitors', 'Rating', 'Revenue',
       'Accommodation_Available'],
      dtype='object')

In [212]:
df_tourism = df_tourism.drop(columns = ['Location'], axis=1)

In [220]:
df_tourism.isna().any()

Country                    False
Category                   False
Visitors                   False
Rating                     False
Revenue                    False
Accommodation_Available    False
dtype: bool

In [224]:
df_tourism[df_tourism['Country'] == 'Egypt']['Revenue'].mean()

505038.14970394736